.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 100px;
}
body {
  margin: 0px;
  background-color: #f1f1f1;
  /* padding: 0px; */
}

/* first part */
.header {
  display: flex;
  height: 62px;
  width: 100%;
  gap: 748px;
  align-items: center;
  /* padding-left: 80px; */
}

.home {
  height: 50px;
  display: flex;
  gap: 40px;
  font-family: "Inter", sans-serif;
  color: #081e34;
  line-height: 18px;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
}

#menu-image {
  border-radius: 40px;
}

.menu-part-2 {
  /* width: 100%; */
  display: flex;
  /* margin-top: 100px; */
  margin-left: 100px;
  gap: 170px;
  align-items: center;
}

#text {
  font-family: "Kanit", sans-serif;
  font-weight: 400px;
  font-size: 30px;
  line-height: 60px;
  font-weight: bold;
  vertical-align: middle;
}
p {
  font-family: "Inter", sans-serif;
  line-height: 22px;
  font-weight: 500px;
  font-size: 17px;
}

h1 {
  margin: 0;
}

#button-get-started {
  width: 100px;
  height: 38px;
  border-radius: 100px;
  color: #081e34;
  font-weight: bold;
  font-size: 15px;
  outline: none;
  background-color: #081e341f;
}
button {
  border: none;
  font-family: "Inter", sans-serif;
}

/* .description {
    max-width: 100%;
  } */

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35%;
  /* height: 350px; */
}

#button-how-it-works {
  width: 140px;
  height: 50px;
  border-radius: 100px;
  padding: 10px;
  background-color: #712fff;
  color: white;
  font-size: 15px;
}

#JumusTap {
  display: flex;
  gap: 5px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 95px;
}

#JumusTap img {
  width: 18px;
  height: 24px;
}

#lopar {
  margin-right: 5px;
  height: 17px;
  width: 17px;
}

.left-part p {
  font-size: 18px;
}

/* second part */
.how-it-works {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  /* height: 562px; */

  background-color: #e1dee7;
  border-radius: 32px;
  gap: 100px;
  padding-top: 7%;
  padding-bottom: 7%;
}

.first-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 84px;
  /* background-color: red; */
  font-size: 54px;
  font-family: "Kanit", sans-serif;
  font-weight: 1000;
  line-height: 56px;
  margin-right: 35px;
}

.first-block span {
  font-weight: 400;
  font-size: 12px;
}

.second-part {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* background-color: #712FFF; */
  width: 100%;
  /* gap:40px; */
}

.second-part img {
  width: 64px;
  height: 64px;
}

.second-part div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 400px; */
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.second-part p {
  font-weight: 500;
}

/* third part */

.lets-get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 422px; */
  gap: 48px;
  /* background-color: red; */
  background-color: #f1f1f1;
}

.first-row {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 54px;
}

.second-row {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 33%;
}

.third-row {
  display: flex;
  gap: 5%;
  width: 100%;
  /* justify-content: space-between; */
}

.third-row button {
  width: 8%;
  height: 50px;
  background-color: #712fff;
  color: white;
  border-radius: 100px;
}
/* .lets-get-started div {
    margin-left: 70px;
  } */

.third-row input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 37%;
  height: 50px;
  border-radius: 12px;
  background-image: url("Images/Search.png");
  background-repeat: no-repeat;
  background-position: 3% 12px;
  padding-left: 4%;
  border-color: #e1dee7;
  border-style: solid;
}

.upload-your-sv {
  width: 100%;
  gap: 110px;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  background-color: #f1f1f1;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100%;
}

.upload p {
  margin: 0px;
  height: 56px;
  font-size: 54px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.upload div {
  font-size: 16px;
  font-weight: 500px;
  font-family: "Inter", sans-serif;
}

.upload button {
  width: 22%;
  height: 20%;
  background-color: #712fff;
  border-radius: 100px;
  color: white;
}

/* fifth part */

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10%;
  padding-top: 3%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  gap: 175px;
}

/* .links div{
      margin-bottom: 60px;
  } */

.Instagram-Twitter img {
  width: 24px;
  height: 24px;
}

.Instagram-Twitter {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.Instagram-Twitter span {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: auto;
}
.Instagram-Twitter img {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #081e34;
}

.part3-and-part4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
  margin-left: 5%;
}

.upload-your-sv button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 33%;
}

/* mobile version */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    /* gap: 350px; */
  }
  .home div {
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .header #JumusTap {
    margin-left: 0px;
  }

  .menu-part-2 {
    margin-left: 0px;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    gap: 40px;
  }

  .menu-part-2 .left-part #text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    margin: auto;
  }

  .menu-part-2 img {
    height: 210px;
    width: 312px;
  }

  .left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100%;
  }

  .left-part p {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    font-family: "Inter" sans-serif;
    letter-spacing: 0%;
  }
  .left-part h1 {
    font-size: 30px;
    width: 100%;
  }

  #make-shift-2 {
    margin-left: 7px;
  }

  #make-shift-3 {
    margin-left: 40px;
  }

  /* part3 */

  .second-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    margin-left: 5%;
  }

  .second-part div {
    gap: 20px;
  }

  .second-part div p {
    margin: 0;
  }

  /* part4 */

  .lets-get-started {
    display: flex;
    align-items: center;
    gap: 5%;
  }
  .third-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .third-row input {
    width: 70%;
    padding-left: 15%;
    background-position: 6% 12px;
  }
  .third-row button {
    width: 20%;
  }

  .first-row {
    font-size: 30px;
  }

  .second-row p {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    font-family: "Inter" sans-serif;
    letter-spacing: 0%;
  }

  /* fifth part */

  .upload-your-sv {
    display: flex;
    flex-direction: column;
  }

  .upload-your-sv img {
    width: 90%;
  }

  .upload button {
    /* height: 3rem; */
  }

  .upload p {
    font-size: 2rem;
  }

  #text-second-row span {
    display: none;
  }
  #text-second-row {
    max-width: 90%;
  }
  .second-row {
    width: 85%;
  }
  .first-block {
    margin-right: 0px;
    font-size: 2.5rem;
  }

  /* links last part */

  .links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    padding: 8%;
    /* max-width: 70%; */
  }
  .Instagram-Twitter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .Instagram-Twitter span {
    margin: 0px;
  }

  #references {
    max-width: 75%;
  }

  .upload-your-sv button img {
    width: 20%;
  }
}
